.header h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 900;
}

.header .right, .header .left {
  width: 110px;
}

.header .right {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .header .center {
    display: none; /* TODO: Implement hamburger menu */
  }
  .header .right, .header .left {
    width: 50%;
  }
}
